body {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin: 20px 0;
}

a {
    color:black;
    text-decoration:none;
}

a:hover {
    color:#7c7c7c;
}

header {
    display:flex;
}
header h2 {
    margin-top: 10px;
    margin-bottom:8px;
    margin-left: 10px;
    font-size: 25px;
}

h1 {
    font-size: 40px;
    margin:0;
}