body {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin: 20px 0;
}

header {
    margin-left: 6%;
    display:flex;
    align-items:center;
}

header h2 {
    margin-top: 10px;
    margin-bottom:8px;
    margin-left: 10px;
}

h1 {
    font-size: 40px;
    margin:0;
}