.square {
	box-sizing: border-box;
	border: 1px solid #999;
	font-weight: 400;
	margin-right: -1px;
	margin-top: -1px;
	display:inline-flex;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
	caret-color: transparent;

	width: calc(500px / var(--board-size));
	height: calc(500px / var(--board-size));
	font-size: calc(330px / var(--board-size));
	padding-top: calc(150px / var(--board-size));

}
.square:focus {
	outline: none;
}

.highlighted {
	background-color: #A7D8FF;
}
.disabled {
	background-color: #000;
}
.selected {
	background-color: #FFD902
}
.disabledSelected {
	background-color: #927B02 !important;
}

 
.cornerValue {
	position: absolute;
	font-size: calc(165px / var(--board-size));
	padding-left:calc(25px / var(--board-size));
	padding-top:calc(100px / var(--board-size));
}
.floatingArrow {
	position: absolute;
	font-size: calc(150px / var(--board-size));
	padding-left:calc(340px / var(--board-size));
	padding-top:calc(20px / var(--board-size));
}

.board {
	line-height:0;
	border-width:3px;
	border-color:black;
	border-style: solid;
}
.boardRow {
	display:flex;
}
.boardWrapper {
	width:500px;
	height:500px;
	display:flex;
	justify-content:center;
	align-items:flex-start;
}

.layout {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}


.sliderRow {
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
.wordFinderWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.wordFinderInput {
	text-align:center;
	font-size: 1.275rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
}

.clueList {
	height: 425px;
	overflow-y:auto;
}
.clue:not(:last-child) { 
    margin-bottom: 20px;  
}

